In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dados = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science/refs/heads/main/TelecomX_Data.json'

In [3]:
df = pd.read_json(dados)

In [4]:
df

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [5]:
customer_df = pd.json_normalize(df['customer'])
df = pd.concat([df.drop('customer', axis=1), customer_df], axis=1)

In [6]:
phone_df = pd.json_normalize(df['phone'])
df = pd.concat([df.drop('phone', axis=1), phone_df], axis=1)

In [7]:
internet_df = pd.json_normalize(df['internet'])
df = pd.concat([df.drop('internet', axis=1), internet_df], axis=1)

In [8]:
account_df = pd.json_normalize(df['account'])
df = pd.concat([df.drop('account', axis=1), account_df], axis=1)

In [9]:
pd.set_option('display.max_columns', None)

In [23]:
df.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,False,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,False,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,True,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,True,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,True,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [12]:
for coluna in df.columns:
    print(coluna)
    print(df[coluna].unique())

customerID
['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Churn
['No' 'Yes' '']
gender
['Female' 'Male']
SeniorCitizen
[0 1]
Partner
['Yes' 'No']
Dependents
['Yes' 'No']
tenure
[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
PhoneService
['Yes' 'No']
MultipleLines
['No' 'Yes' 'No phone service']
InternetService
['DSL' 'Fiber optic' 'No']
OnlineSecurity
['No' 'Yes' 'No internet service']
OnlineBackup
['Yes' 'No' 'No internet service']
DeviceProtection
['No' 'Yes' 'No internet service']
TechSupport
['Yes' 'No' 'No internet service']
StreamingTV
['Yes' 'No' 'No internet service']
StreamingMovies
['No' 'Yes' 'No internet service']
Contract
['One year' 'Month-to-month' 'Two year']
PaperlessBilling
['Yes' 'No']
PaymentMethod
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
Charges.Monthly
[65.6  59.9  73.9  ... 91.75 68.8  67.85]
Charges.Total
['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

In [13]:
df['Churn'] =df['Churn'].replace('', 'no info')

In [14]:
df['Churn'].unique()

array(['No', 'Yes', 'no info'], dtype=object)

In [16]:
df = df[df['Churn'] != 'no info'] 

'''Este código cria um novo DataFrame mantendo apenas as linhas onde a coluna 'Churn' não é igual 
a 'no info'. O operador != significa "diferente de", então estamos mantendo todas as linhas onde 'Churn' 
é diferente de 'no info'.'''

'Este código cria um novo DataFrame mantendo apenas as linhas onde a coluna \'Churn\' não é igual \na \'no info\'. O operador != significa "diferente de", então estamos mantendo todas as linhas onde \'Churn\' \né diferente de \'no info\'.'

In [18]:
df['Churn'] = df['Churn'].map({'Yes': True, 'No': False})

In [20]:
df['Churn'] = df['Churn'].astype('boolean')

In [24]:
df['SeniorCitizen'] = df['SeniorCitizen'].astype('boolean')

In [27]:
df['Partner'].unique()

array(['Yes', 'No'], dtype=object)

In [36]:
df['Charges.Total'].unique()

array(['593.3', '542.4', '280.85', ..., '742.9', '4627.65', '3707.6'],
      dtype=object)

In [39]:
# # Calcula a porcentagem de valores vazios
# porcentagem_vazios = (df['Charges.Total'].isna().sum() / len(df)) * 100
# print(f"Porcentagem de valores vazios em Charges.Total: {porcentagem_vazios:.2f}%")

# Para ver a contagem absoluta também
contagem_vazios = df['Charges.Total'].isna().sum()
print(f"Quantidade de valores vazios: {contagem_vazios}")

Quantidade de valores vazios: 0

In [40]:
# Contagem de valores não vazios
contagem_nao_vazios = df['Charges.Total'].notna().sum()
print(f"Quantidade de valores preenchidos: {contagem_nao_vazios}")

Quantidade de valores preenchidos: 7043

In [41]:
espacos_apenas = df['Charges.Total'].str.strip().eq('').sum()
print(f"Quantidade de valores que são apenas espaços: {espacos_apenas}")

Quantidade de valores que são apenas espaços: 11

In [42]:
# Substituir strings vazias ou apenas espaços por NaN
df['Charges.Total'] = df['Charges.Total'].replace(r'^\s*$', float('nan'), regex=True)

In [43]:
# Agora converter para float64
df['Charges.Total'] = pd.to_numeric(df['Charges.Total'], errors='coerce')

In [44]:
# Verificar a quantidade de valores NaN após a conversão
valores_nan = df['Charges.Total'].isna().sum()
print(f"Quantidade de valores NaN após conversão: {valores_nan}")

Quantidade de valores NaN após conversão: 11

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   Churn             7043 non-null   boolean
 2   gender            7043 non-null   object
 3   SeniorCitizen     7043 non-null   boolean
 4   Partner           7043 non-null   object
 5   Dependents        7043 non-null   object
 6   tenure            7043 non-null   int64
 7   PhoneService      7043 non-null   object
 8   MultipleLines     7043 non-null   object
 9   InternetService   7043 non-null   object
 10  OnlineSecurity    7043 non-null   object
 11  OnlineBackup      7043 non-null   object
 12  DeviceProtection  7043 non-null   object
 13  TechSupport       7043 non-null   object
 14  StreamingTV       7043 non-null   object
 15  StreamingMovies   7043 non-null   object
 16  Contract          7043 non-null   object
 17  PaperlessBilling  7043 non-null   object
 18  PaymentMethod     7043 non-null   object
 19  Charges.Monthly   7043 non-null   float64
 20  Charges.Total     7032 non-null   float64
dtypes: boolean(2), float64(2), int64(1), object(16)
memory usage: 1.1+ MB

In [49]:
df['Charges.Total'].isna().sum()

np.int64(11)

In [52]:
media = df['Charges.Total'].mean()
desv_pad = df['Charges.Total'].std()
print(f'Média: {media}')
print(f'Desvio padrão: {desv_pad}')

Média: 2283.3004408418656
Desvio padrão: 2266.771361883145

In [55]:
import numpy as np
# Gerar valores aleatórios com distribuição normal
valores_aleatorios = np.random.normal(media, desv_pad, size=df['Charges.Total'].isna().sum())

In [56]:
# Preencher os valores NaN com os valores aleatórios gerados
df.loc[df['Charges.Total'].isna(), 'Charges.Total'] = valores_aleatorios

In [57]:
# Verificar se ainda existem valores NaN
valores_nan_apos = df['Charges.Total'].isna().sum()
print(f"\nQuantidade de valores NaN após preenchimento: {valores_nan_apos}")

Quantidade de valores NaN após preenchimento: 0

In [58]:
# Verificar as novas estatísticas
print(f"\nNova média: {df['Charges.Total'].mean():.2f}")
print(f"Novo desvio padrão: {df['Charges.Total'].std():.2f}")

Nova média: 2284.51
Novo desvio padrão: 2265.73

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   Churn             7043 non-null   boolean
 2   gender            7043 non-null   object
 3   SeniorCitizen     7043 non-null   boolean
 4   Partner           7043 non-null   object
 5   Dependents        7043 non-null   object
 6   tenure            7043 non-null   int64
 7   PhoneService      7043 non-null   object
 8   MultipleLines     7043 non-null   object
 9   InternetService   7043 non-null   object
 10  OnlineSecurity    7043 non-null   object
 11  OnlineBackup      7043 non-null   object
 12  DeviceProtection  7043 non-null   object
 13  TechSupport       7043 non-null   object
 14  StreamingTV       7043 non-null   object
 15  StreamingMovies   7043 non-null   object
 16  Contract          7043 non-null   object
 17  PaperlessBilling  7043 non-null   object
 18  PaymentMethod     7043 non-null   object
 19  Charges.Monthly   7043 non-null   float64
 20  Charges.Total     7043 non-null   float64
dtypes: boolean(2), float64(2), int64(1), object(16)
memory usage: 1.1+ MB

### Até o momento os dados foram tratados, as colunas possuem os tipos adequaos. Foram excluídas as linhas que não possuíam informação sobre o churn, já que essa é uma informação fundamental para a análise e a coluna Charges.Total que possuía dados em branco foi tratada. Os dados faltantes form substítuídos por valores dentro da mesma média e desvio padrão.

In [61]:
df.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,False,Female,False,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30
1,0003-MKNFE,False,Male,False,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40
2,0004-TLHLJ,True,Male,False,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,True,Male,True,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,True,Female,True,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40